@use "../assets/variables";

:host-context {
  display: flex;
  justify-content: center;
}

.app-container {
  max-width: 1200px;
}

.o-users-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  app-user-item {
    flex-basis: 20%;
  }
}
