$brand: #0f577a;
$brand-light: #117baf;
$gradient: linear-gradient(346deg, $brand 27%, $brand-light 75%);
$brand-disabled: grey;
$color-online: #14ff95;
$color-date: #f23f8c;

$box-shadow-light: 0px 0px 5px 1px #333;

$spacer: 21px;
$spacer-md: 10px;
$spacer-sm: $spacer / 3;

$avatar-size-mobile: 150px;
$avatar-size-desktop: 200px;
$border-radius: 15px;

$font-title: 'Open Sans', Arial, sans-serif;
$font-small: 10pt;

$layer-default: 5;
$layer-front: 10;
